
.icon-search{
    background-image: url("./assets/icon-search.png");
}
.icon-search-s{
    background-image: url("./assets/icon-search-s.png");
}
.icon-playlist{
    background-image: url("./assets/icon-playlist.png");
}
.icon-playlist-s{
    background-image: url("./assets/icon-playlist-s.png");
}
.icon-my-list{
    background-image: url("./assets/icon-my-list.png");
}
.icon-my-list-s{
    background-image: url("./assets/icon-my-list-s.png");
}
.icon-movie{
    background-image: url("./assets/icon-movie.png");
}
.icon-movie-s{
    background-image: url("./assets/icon-movie-s.png");
}
.icon-tv-shows{
    background-image: url("./assets/icon-tv-shows.png");
}
.icon-tv-shows-s{
    background-image: url("./assets/icon-tv-shows-s.png");
}
.icon-watchlater{
    background-image: url("./assets/icon-watchlater.png");
}
.icon-recommended{
    background-image: url("./assets/icon-recommended.png");
}
.icon-settings{
    background-image: url("./assets/icon-settings.png");
}
.icon-logout{
    background-image: url("./assets/icon-logout.png");
}
.icon-add{
    background-image: url("./assets/icon-add.png");
}
.icon-play{
    background-image: url("./assets/icon-play.png");
}
.icon-cross{
    background-image: url("./assets/icon-cross.png");
}
.icon-m-menu{
    background-image: url("./assets/icon-m-menu.png");
}